<div class="row">
  <div class="col-3">
    <h2 class="listado">Listado de frutas</h2>
    <ol>
      <li class="list-group-item" *ngFor="let f of frutas" (click)="seleccionar(f)">{{f.nombre}}</li>
    </ol>

  </div>


  <div class="row">
    <div class="col">
      <app-fruta-card [_fruta]="fruta1" [_fruta2]="fruta2" (clickCompra)="actualizarCarro($event)"></app-fruta-card>
    </div>
    <div class="col">
      <app-fruta-card [_fruta]="fruta2" [_fruta2]="fruta1" (clickCompra)="actualizarCarro($event)"></app-fruta-card>
    </div>

  </div>

  
    <div class="col">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-shopping-cart"> {{totalCompra| number: '1.2-2'}} €</i>
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li class="dropdpwn-item" *ngFor="let f of carroCompra, let i = index"><img src="{{f.fruta.imagen}}" alt="imagen fruta">{{f.nombre}}
            <b>X {{f.cantidad}}</b> {{f.total| number: '1.2-2'}}
            <a (click)="sumarFruta(fruta, i)" class="btn btn-secondary">+</a> <b>{{f.cantidad}}</b> <a (click)="restarFruta(fruta,i)" class="btn btn-secondary">-</a> </li>
          <li class="dropdpwn-item border-top"><b>TOTAL: {{totalCompra| number: '1.2-2'}} €</b></li>
        
        </ul>
      </div>
    </div>
  

</div>