<h1>Formulario Reactivo</h1>
<a href="https://angular.io/guide/reactive-forms">Documentacón oficial</a>
<div clas="row">
  <h2>FormControl para nombre</h2>
  <label>
    Nombre:
    <input type="text" [formControl]="simple">
  </label>

</div>


<div clas="row">
  <h2>FormGroup para formulario completo</h2>
  <!--Importante desactivar las validacones en HTML5-->
  <button type="button" class="btn btn-primary" (click)="cargarFormulario()">Recargar formulario</button>
  <form [formGroup]="formulario" novalidate (ngSubmit)="sumitar()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" placeholder="Introduce el nombre" formControlName="nombre">
      <small *ngIf="formulario.controls.nombre.invalid" class="form-text text-danger">Minimo 2 letras maximo 50</small>
      <small *ngIf="formulario.controls.nombre.valid" class="form-text text-success">Correcto</small>
    </div>

    <div class="form-group">
      <label for="precio">Precio:</label>
      <input type="number" class="form-control" id="nombre" placeholder="Introduce el precio" formControlName="precio">
      <small *ngIf="formulario.controls.precio.invalid" class="form-text text-danger">Minimo 0.01 maximo 9999</small>
      <small *ngIf="formulario.controls.precio.valid" class="form-text text-success">Correcto</small>

    </div>

    <div class="form-group">
      <label for="calorias">Calorias:</label>
      <input type="number" class="form-control" id="calorias" placeholder="Introduce el precio" formControlName="calorias">
      <small *ngIf="formulario.controls.precio.invalid" class="form-text text-danger">Minimo 0.01 maximo 9999</small>
      <small *ngIf="formulario.controls.precio.valid" class="form-text text-success">Correcto</small>

    </div>

    <div class="form-group">
      <label for="oferta">Oferta:</label>
      <input type="checkbox" checked="{{(formulario.controls.oferta.value) ? 'checked':''}}" (change)="habilitarDescuento(formulario.controls.descuento)" />
      <small *ngIf="formulario.controls.precio.invalid" class="form-text text-danger">Minimo 0.01 maximo 9999</small>
      <small *ngIf="formulario.controls.precio.valid" class="form-text text-success">Correcto</small>

    </div>

    <div class="form-group" >
      <label for="descuento">Descuento:</label>
      <input type="number" class="form-control" id="descuento" placeholder="Introduce el descuento" formControlName="descuento"[disabled]="formulario.controls.oferta===false">
      <small *ngIf="formulario.controls.precio.invalid" class="form-text text-danger">Minimo 0.01 maximo 9999</small>
      <small *ngIf="formulario.controls.precio.valid" class="form-text text-success">Correcto</small>

    </div>

    <input type="submit" value="Crear" class="btn btn-success" [disabled]="formulario.status==='INVALID'">

  </form>
</div>