<h1>Formulario Reactivo</h1>
<a href="https://angular.io/guide/reactive-forms">Documentacón oficial</a>
<div clas="row">
  <h2>FormControl para nombre</h2>
  <label>
    Nombre:
    <input type="text" [formControl]="simple">
  </label>

</div>
{{formulario.value|json}}
{{formulario.status|json}}

<div clas="row">
  <h2>FormGroup para formulario completo</h2>
  <!--Importante desactivar las validacones en HTML5-->
  <button type="button" class="btn btn-primary" (click)="cargarFormulario()">Recargar formulario</button>
  <form [formGroup]="formulario" novalidate (ngSubmit)="sumitar()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" placeholder="Introduce el nombre" formControlName="nombre">
      <small *ngIf="formulario.controls.nombre.invalid" class="form-text text-danger">Minimo 2 letras maximo 50</small>
      <small *ngIf="formulario.controls.nombre.valid" class="form-text text-success">Correcto</small>
    </div>

    <div class="form-group">
      <label for="precio">Precio:</label>
      <input type="number" class="form-control" id="nombre" placeholder="Introduce el precio" formControlName="precio">
      <small *ngIf="formulario.controls.precio.invalid" class="form-text text-danger">Minimo 0.01 maximo 9999</small>
      <small *ngIf="formulario.controls.precio.valid" class="form-text text-success">Correcto</small>

    </div>

    <div class="form-group">
      <label for="calorias">Calorias:</label>
      <input type="number" class="form-control" id="calorias" placeholder="Introduce el precio" formControlName="calorias">
      <small *ngIf="formulario.controls.calorias.invalid" class="form-text text-danger">Minimo 0.01 maximo 9999</small>
      <small *ngIf="formulario.controls.calorias.valid" class="form-text text-success">Correcto</small>

    </div>

    <div class="form-group">
      <label for="oferta">Oferta:</label>
      <input type="checkbox" checked="{{(formulario.controls.oferta.value) ? 'checked':''}}" formControlName="oferta" />
    </div>

    <div class="form-group" *ngIf="formulario.get('oferta').value">
      <label for="descuento">Descuento:</label>
      <input type="number" class="form-control" id="descuento" placeholder="Introduce el descuento" formControlName="descuento">
      <small *ngIf="formulario.controls.descuento.invalid" class="form-text text-danger">Minimo descuento 5 maximo 90</small>
      <small *ngIf="formulario.controls.descuento.valid" class="form-text text-success">Correcto</small>

    </div>

    <div class="form-group">
      <label for="colores">Colores:</label>
      <a (click)="nuevoColor()" class="btn btn-primary">Nuevo Color</a>
      <div formArrayName="colores">
        <div *ngFor="let color of formulario.get('colores').controls; let i=index;">
          <div [formGroupName]="i">
            <input formControlName="color"><i class="fas fa-trash-alt text-danger" (click)="eliminarColor(i)"></i>
            <small *ngIf="formulario.get('colores').controls[i].invalid" class="form-text text-danger">El color debe tener al
              menos 2 caracteres y 50 como máximo</small>
            <small *ngIf="formulario.get('colores').controls[i].valid" class="form-text text-success">Color correcto</small>
          </div>
        </div>


      </div>


    </div>

    <div class="form-group">
      <label for="imagen">Imagen:</label>
      <img src="{{formulario.controls.imagen.value}}" class="" *ngIf="formulario.controls.imagen.valid" />
      <input type="text" class="form-control" id="imagen" placeholder="Introduce la URL de la imagen con extension jpg, jpeg o png "
        formControlName="imagen">
      <small *ngIf="formulario.controls.imagen.invalid" class="form-text text-danger">Formato de la imagen incorrecto,
        debe ser jpg,jpeg o png</small>
      <small *ngIf="formulario.controls.descuento.valid" class="form-text text-success">Fromato correcto</small>
    </div>
    
    <input type="submit" value="Crear" class="btn btn-success" [disabled]="formulario.status==='INVALID'">
    <span class="">{{mensaje}}</span>
  </form>
</div>